@{
    ViewBag.Title = "Cadastro de Usuários";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model FeedViewer.Models.usuario
@using FeedViewer.Models;


@section AreaHead
{
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/gentelella/css/datatables/tools/css/dataTables.tableTools.css")" />
    <style>

        .erroMsg {
            color: red;
            width: 100%;
            clear: both;
        }

    </style>

}


@section AreaConteudo 
{

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Conta <small>dados da conta</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <!-- data-parsley-validate -->
                    <form id="formusuario" class="form-horizontal form-label-left">
                        @Html.AntiForgeryToken()
                        <!-- Input hidden não funciona reset ! Corrigindo com css - evita tratar campo especificamente com js.. -->
                        <input type="text" name="id" id="id" value="0" style="display:none;" />

                        <div class="form-group" id="fgnome">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">
                                Nome <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nome" name="nome" class="form-control col-md-7 col-xs-12" >
                                <div id="vnome" class="erroMsg"></div>
                            </div>
                        </div>

                        <div class="form-group" id="fgcontalogin">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">
                                Login <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="contalogin" name="contalogin" class="form-control col-md-7 col-xs-12">
                                <div id="vcontalogin" class="erroMsg"></div>
                            </div>
                        </div>


                        <div class="form-group" id="fgusremail">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                E-mail <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                                <input type="email" id="usremail" name="usremail" class="form-control col-md-7 col-xs-12 has-feedback-left">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                <div id="vusremail" class="erroMsg"></div>
                            </div>
                        </div>



                        <div class="form-group" id="fgsenha">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="senha">
                                Senha 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="senha" name="senha" class="form-control col-md-7 col-xs-12">
                                <div id="vsenha" class="erroMsg"></div>
                            </div>
                        </div>

                        <div class="form-group" id="fgsenhaconfirma">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="senhaconfirmma">
                                Senha (confirma)
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="senhaconfirma" name="senhaconfirma" class="form-control col-md-7 col-xs-12">
                                <div id="vsenhaconfirma" class="erroMsg"></div>
                            </div>
                        </div>

                        <div class="form-group" id="fgisadmin">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="isadmin">
                                Administrador ? 
                            </label>

                            <div class="checkbox">
                                <label>
                                   <input type="checkbox" name="isadmin" id="isadmin" style="margin-left: 0px;" />                                    
                                </label>
                                <div id="visadmin" class="erroMsg"></div>
                            </div>

                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="reset" id="btncancelar" class="btn btn-primary">Cancelar</button>
                                <button type="button" id="btnremover" class="btn btn-warning">Remover</button>
                                <button type="button" id="btngravar" class="btn btn-success">Enviar</button>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Busca <small>buscar usuários</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <h4>Buscar por:</h4>
                    <div class="ln_solid"></div>
                    
                    <!-- data-parsley-validate -->
                    <form id="formbuscausuario" class="form-horizontal form-label-left">

                        <div class="form-group" id="fgloginbusca">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="loginbusca">
                                Login <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="loginbusca" name="loginbusca" required="required" class="form-control col-md-7 col-xs-12">
                                <div id="vloginbusca" class="erroMsg"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomebusca">
                                Nome 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nomebusca" name="nomebusca" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="reset" id="btncancelarbusca" class="btn btn-primary">Cancelar</button>
                                <button type="button" id="btnbuscar" class="btn btn-success">Buscar</button>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    </form>

                    <h4>Resultados da busca:</h4>
                    <div class="ln_solid"></div>

                    <table id="listaUsuarios" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Login</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody id="idcorpotabela">

                        </tbody>
                    </table>                    
                    <br />
                    <br />
                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    


}

@section AreaScript
{
    <script src="@Url.Content("~/Content/themes/gentelella/js/datatables/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/themes/gentelella/js/datatables/tools/js/dataTables.tableTools.js")"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.min.js"></script>

    <script type="text/javascript">

        var loginOriginal = $("#contalogin").val();
        var idUsuariologado = "@{ Write((Session["UsuarioLogado"] as LoginInfo).Usuario.id); }";

        function carregue(id) {
            $.ajax({
                type: "post",
                dataType: "json",
                data: { "id": id },
                url: "@Url.Action("CarregaUsuario","Usuario")",
                success: function (dados) {
                        if (dados.hasOwnProperty('nome')) {
                            $("#btncancelar").click();
                            $("#id").val(dados.id);
                            $("#nome").val(dados.nome);
                            $("#contalogin").val(dados.login);
                            loginOriginal = dados.login;
                            $("#usremail").val(dados.email);
                            if (dados.eadmin)
                                $("#isadmin").click();
                            $("#btnremover").show();
                            $('html, body').animate({
                                scrollTop: $("body").offset().top
                            }, 1000);
                        }
                        else {
                            console.log(dados);
                            alert("Erro: Retorno do servidor é inválido");
                        }
                },
                error: function (req, msg, erro) {
                    console.log(req);
                    console.log(erro);
                    console.log(msg);
                    alert("erro na requisicao");
                }

                });
            }

            $(document).ready(function () {

            var tabela;

            function desenhaTabela() {

                tabela = $("#listaUsuarios").dataTable({
                    "sPaginationType": "full_numbers",
                    "bDestroy": true,
                    "bAutoWidth": false,
                    "language":
                     {
                         "sEmptyTable": "Nenhum registro encontrado",
                         "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                         "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                         "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                         "sInfoPostFix": "",
                         "sInfoThousands": ".",
                         "sLengthMenu": "Mostrando _MENU_ resultados por página",
                         "sLoadingRecords": "Carregando...",
                         "sProcessing": "Processando...",
                         "sZeroRecords": "Nenhum registro encontrado",
                         "sSearch": "Pesquisar",
                         "oPaginate": {
                             "sNext": "Próximo",
                             "sPrevious": "Anterior",
                             "sFirst": "Primeiro",
                             "sLast": "Último"
                         },
                         "oAria": {
                             "sSortAscending": ": Ordenar colunas de forma ascendente",
                             "sSortDescending": ": Ordenar colunas de forma descendente"
                         }
                     },
                    "tableTools": {
                        "sSwfPath": ""
                    }
                });
            }

            desenhaTabela();
            $("#btnremover").hide(); //por padrão oculto, somente quando carregar deve ser exibido

            $.validator.addMethod("loginUnico", function (valor, elemento) {
                var resultado = true; //e valido
                if (loginOriginal != valor) {
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        data: { "login": valor },
                        url: "@Url.Action("LoginUnico","Usuario")",
                        success: function (dados) {
                            if (!dados.Sucesso)
                                resultado = false;
                        },
                        error: function (req, erro, msg) {
                            alert("Falha na validacao de logins");
                            resultado = false;
                            console.log(req);
                            console.log(erro);
                            console.log(msg);
                        },
                        async: false
                    });
                }
                return resultado;
            });

            $.validator.addMethod("senhaNula", function (valor, elemento) {
                var resultado = true; //e valido
                if ((valor == "" || valor.length == 0) && $("#id").val() == 0)
                    resultado = false;
                return resultado;
            });


            validador = $("#formusuario").validate({
                rules: {
                    nome: {
                        required: true
                    },
                    usremail: {
                        required: true,
                        email: true
                    },
                    contalogin: {
                        required: true,
                        loginUnico: true
                    },
                    senha: {
                        senhaNula: true,
                    },
                    senhaconfirma: {
                        equalTo: "#senha"
                    }

                },
                errorPlacement: function (erro, elemento) {
                    $("#v" + $(elemento).attr("id")).html($(erro).html());
                    $("#fg" + $(elemento).attr("id")).addClass("has-error");
                },
                success: function (label) {
                    var rotulo = $(label).attr("id").replace("-error", "");
                    $("#v" + rotulo).html("");
                    $("#fg" + rotulo).removeClass("has-error");
                },
                messages: {
                    nome: {
                        required: "Campo obrigatório"
                    },
                    contalogin: {
                        required: "Campo obrigatório",
                        loginUnico: "Esse login já existe !"
                    },
                    usremail: {
                        required: "Campo obrigatório",
                        email: "Digite um e-mail válido"
                    },
                    senha: {
                        senhaNula: "Novo usuário não pode ficar sem senha"
                    },
                    senhaconfirma: {
                        equalTo: "Senhas digitadas não são iguais"
                    }
                }
            });

            validadorbusca = $("#formbuscausuario").validate({
                rules: {
                    loginbusca: {
                        required: true
                    }
                },
                errorPlacement: function (erro, elemento) {
                    $("#v" + $(elemento).attr("id")).html($(erro).html());
                    $("#fg" + $(elemento).attr("id")).addClass("has-error");
                },
                success: function (label) {
                    var rotulo = $(label).attr("id").replace("-error", "");
                    $("#v" + rotulo).html("");
                    $("#fg" + rotulo).removeClass("has-error");
                },
                messages: {
                    loginbusca: {
                        required: "Campo obrigatório"
                    }
                }
            });

            $("#btngravar").click(function (e) {
                e.preventDefault();
                if ($("#formusuario").valid()) {
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "@Url.Action("GravarCadastro","Usuario")",
                        data: $("#formusuario").serialize(),
                        success: function (dados) {
                            console.log(dados);
                            if (dados.Sucesso) {
                                alert("Sucesso ao atualizar registro");
                                if ($("#id").val() == idUsuariologado)
                                    location.reload();
                                else {
                                    $("#btncancelar").click();
                                    tabela.fnClearTable();
                                    desenhaTabela();
                                }
                            }
                            else
                                alert("Erro ao atualizar registro");
                        },
                        error: function (req, erro, msg) {
                            alert("Falha na solicitação ");
                            console.log(req);
                            console.log(erro);
                            console.log(msg);
                        }
                    });
                }
                else
                    alert("Nao valido");

            });

            $("#btncancelar").click(function () {
                $("#formusuario div.form-group").removeClass("has-error");
                $("#formusuario div.erroMsg").html("");
                $("#btnremover").hide();

                validador.resetForm();
                if ($("#isadmin").is(":checked")) {                    
                    $("#isadmin").click();
                }

            });
            
            $("#btnremover").click(function (e) {
                e.preventDefault();
                if (confirm("Tem certeza ?")) {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("Remover","Usuario")",
                        dataType: "json",
                        data: { "id": $("#id").val() },
                        success: function (dados) {
                            if (dados.Sucesso) {
                                alert("Removido com sucesso !");
                                $("#btncancelar").click();
                                tabela.fnClearTable();
                                desenhaTabela();
                            }
                            else {
                                console.log(dados);
                                alert("Falha na remção");
                            }
                        },
                        error: function (req, erro, msg) {
                            alert("Falha na requisicao");
                            console.log(req);
                            console.log(erro);
                            console.log(msg);
                        }
                    });
                }
            });


            $("#btnbuscar").click(function (e) {
                e.preventDefault();
                //alert("aqui " + $("#formbuscausuario").valid());
                if ($("#formbuscausuario").valid()) {

                    $.ajax({
                        type: "post",
                        dataType: "json",
                        data: $("#formbuscausuario").serialize(),
                        url: "@Url.Action("BuscaUsuario","Usuario")",
                        success: function (dados) {
                            if (dados.constructor == Array) {
                                var novalinha = "";
                                tabela.fnClearTable();                                
                                for (var x = 0; x < dados.length; x++) {
                                    novalinha = "<tr> <td> <a href=\"javascript:carregue(" + dados[x].id + ")\">" + dados[x].id + "</a> </td> \
                                                      <td> <a href=\"javascript:carregue(" + dados[x].id + ")\">" + dados[x].nome + "</a> </td>\
                                                      <td> <a href=\"javascript:carregue(" + dados[x].id + ")\">" + dados[x].login + "</a> </td>\
                                                      <td> <a href=\"javascript:carregue(" + dados[x].id + ")\">" + dados[x].email + "</a> </td></tr>";
                                    $("#idcorpotabela").append(novalinha);
                                }
                                desenhaTabela();
                                if (dados.length == 0)
                                    alert("Nenhum registro encontrado");
                            }
                            else {
                                console.log(dados);
                                alert("Erro no retorno");
                            }
                        },
                        error: function (req, erro, msg) {
                            alert("Falha na solicitação da busca !");
                            console.log(req);
                            console.log(erro);
                            console.log(msg);
                        }
                    });
                }
                else
                    alert("Por favor, verifique por erros nos campos do formulário.");
            });

            $("#btncancelarbusca").click(function () {
                $("#formbuscausuario div.form-group").removeClass("has-error");
                $("#formbuscausuario div.erroMsg").html("");
                validadorbusca.resetForm();
            });

        });

    </script>
}